@import url("reset.css");

body {
	width: 980px;
	margin:0 auto 0 auto;
	font-size: 80%;
	font-family: verdana, san-serif;
	line-height: 150%;
}

h2 {
	color: green;
	font-size: 1.2em;
	font-weight: bold;
}

a, a:visited {
	color: #3300CC;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
div#top {
	width: 100%;
}
div.topMenu {
	float:right;
	background-color: #000;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px; 	
	-moz-border-radius-bottomleft: 10px;	
	color: #CCC;
	padding: 10px;
}
a.topMenuLink, a.topMenuLink:visited {
	color:white;
	text-decoration: none;
}
a.topMenuLink:hover {
	text-decoration: underline;
}

table#layout {
	z-index: 10;
}

div.roundCorners {
	border-radius: 10px;
	-moz-border-radius:10px;
}
div#header {
	background-color: #FFF;
	padding: 10px;
	margin: 10px 0 10px 0;
}

div#footer {
	background-color: #FFF;
	padding: 10px;
	margin: 10px 0 10px 0;
}

div#menu {
	float:left;
	width: 150px;
	height: 200px;
	background-color: #FFF;
	padding: 10px;
	margin: 10px 10px 0 0;
}

div#content {
	float:left;
	width: 780px;
	background-color: #FFF;
	padding: 10px;
	margin: 10px 0 10px 0;
}

div.seperator {
	margin-top:10px;
}
